
body {
background-color: lightgray;
font-family: sans-serif;
}

.tarjeta {
background-color: white;
width: 250px;
padding: 15px;
margin: 20px auto;
border-radius: 8px;
}

img {
width: 100%;
border-radius: 4px;
}

h1 {
color: darkred;
font-size: 20px;
margin-top: 10px;
margin-bottom: 5px;
}

a {
color: blue;
}
