body {
background-color: #d6e2f0;
font-family: Arial;
text-align: center;
}

.card {
background-color: white;
width: 300px;
margin: 50px auto;
border-radius: 10px;
padding: 20px;
}

.card img {
width: 100%;
}

h1 {
color: #1f2e55;
font-size: 20px;
}

p {
color: #7280a7;
font-size: 14px;
}

.plan {
background-color: #f5f7ff;
padding: 10px;
margin: 15px 0;
border-radius: 8px;
}

.plan span {
color: #7280a7;
font-size: 13px;
}

.plan a {
color: blue;
font-weight: bold;
}

.btn-1 {
background-color: #3829e0;
color: white;
border: none;
width: 100%;
padding: 10px;
border-radius: 8px;
font-weight: bold;
}

.btn-2 {
background-color: white;
color: #7280a7;
border: none;
width: 100%;
padding: 10px;
margin-top: 5px;
font-weight: bold;
}